@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #5E7A7D;
    line-height: 1.5rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;